__pycache__/
*.pyc
.ipynb_checkpoints
.vscode/
.idea/
*.csv
*.DS_Store
_ADMIN_PRIVATE/

# --- LaTeX Build Files (Add this!) ---
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.snm
*.nav
*.synctex.gz
*.fls
*.fdb_latexmk

# --- System Files ---
Thumbs.db
